/*
Template Name: Custom Website
Author: Riyajul Islam
Email: riyajulislam02@gmail.com
Phone: 01797270177
File: Components
*/
/* =============
  == Components List==

   - Popover / Tooltips
   - Buttons
   - Panels
   - Portlets
   - Checkbox and radio
   - Modals
   - Tabs
   - Progressbars
   - Notifications
   - Alerts
   - Carousel
   - Sweet Alert
   - Widgets
   - Nestable
   - Rating
   - Calendar
   - Form
   - Tables
   - Charts

============= */
/* =================
   Popover / Tooltips
==================== */

/* Tooltips */
.tooltip {
    font-family: 'Hind Madurai', sans-serif;
}

.tooltip .tooltip-inner {
    padding: 4px 10px;
    border-radius: 2px;
    background-color: #313a46;
}

.tooltip .tooltip-arrow {
    border: 0 !important;
}

/* Tooltpster */
.tooltipster-sidetip .tooltipster-box {
    background-color: #00acc1;
    border: 2px solid #00acc1;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #00acc1;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #00acc1;
}

.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #00acc1;
}

.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border,
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #00acc1;
}

/* =============
   Buttons
============= */
.btn {
    border-radius: 2px;
    padding: 6px 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.btn:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.14), 0 4px 14px 0 rgba(0, 0, 0, 0.12);
}

.btn-md {
    padding: 8px 18px;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 1px 12px !important;
    font-size: 14px;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 5px 10px !important;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px !important;
}

.btn-group .btn,
.btn-group .btn-group,
.btn-group .btn:active,
.btn-group .btn:focus,
.btn-group-vertical .btn,
.btn-group-vertical .btn-group,
.btn-group-vertical .btn:active,
.btn-group-vertical .btn:focus,
.form-control,
input:active,
input:focus {
    box-shadow: none;
}

.btn-group-vertical:not(.bootstrap-select),
.btn-group:not(.bootstrap-select) {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.btn-custom,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink,
.btn-orange,
.btn-brown,
.btn-teal {
    color: #ffffff !important;
}

.btn-custom {
    background-color: #00acc1;
    border-color: #00acc1;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: #0095a8 !important;
    border: 1px solid #0095a8 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-primary {
    background-color: #188ae2 !important;
    border: 1px solid #188ae2 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color: #167ccb !important;
    border: 1px solid #167ccb !important;
}

.btn-success {
    background-color: #4bd396 !important;
    border: 1px solid #4bd396 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
    background-color: #37ce8a !important;
    border: 1px solid #37ce8a !important;
}

.btn-info {
    background-color: #3ac9d6 !important;
    border: 1px solid #3ac9d6 !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
    background-color: #2abfcc !important;
    border: 1px solid #2abfcc !important;
}

.btn-warning {
    background-color: #f9c851 !important;
    border: 1px solid #f9c851 !important;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
    background-color: #f8c038 !important;
    border: 1px solid #f8c038 !important;
}

.btn-danger {
    background-color: #f8c038 !important;
    border: 1px solid #f8c038 !important;
    margin-top: 17px;
    margin-right: 20px;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
    background-color: #f35864 !important;
    border: 1px solid #f35864 !important;
}

.btn-inverse {
    background-color: #3b3e47 !important;
    border: 1px solid #3b3e47 !important;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
    background-color: #2f3239 !important;
    border: 1px solid #2f3239 !important;
}

.btn-purple {
    background-color: #6b5fb5 !important;
    border: 1px solid #6b5fb5 !important;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
    background-color: #5c4fab !important;
    border: 1px solid #5c4fab !important;
}

.btn-pink {
    background-color: #f06292 !important;
    border: 1px solid #f06292 !important;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    background-color: #ee4b82 !important;
    border: 1px solid #ee4b82 !important;
}

.btn-orange {
    background-color: #ff9800 !important;
    border: 1px solid #ff9800 !important;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    background-color: #e68900 !important;
    border: 1px solid #e68900 !important;
}

.btn-brown {
    background-color: #8d6e63 !important;
    border: 1px solid #8d6e63 !important;
}

.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active {
    background-color: #7e6258 !important;
    border: 1px solid #7e6258 !important;
}

.btn-teal {
    background-color: #26a69a !important;
    border: 1px solid #26a69a !important;
}

.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active {
    background-color: #219187 !important;
    border: 1px solid #219187 !important;
}

.btn-bordered {
    border-bottom: 3px solid transparent;
}

.btn-bordered.btn-default {
    background-color: #ffffff;
    border-bottom: 2px solid rgba(49, 58, 70, 0.1) !important;
}

.btn-bordered.btn-custom {
    background-color: #00acc1;
    border-bottom: 2px solid #008c9d !important;
}

.btn-bordered.btn-primary {
    border-bottom: 2px solid #1576c2 !important;
}

.btn-bordered.btn-success {
    border-bottom: 2px solid #31c985 !important;
}

.btn-bordered.btn-info {
    border-bottom: 2px solid #29b7c4 !important;
}

.btn-bordered.btn-warning {
    border-bottom: 2px solid #f7b820 !important;
}

.btn-bordered.btn-danger {
    border-bottom: 2px solid #f2404e !important;
}

.btn-bordered.btn-inverse {
    border-bottom: 2px solid #0d0d0f !important;
}

.btn-bordered.btn-purple {
    border-bottom: 2px solid #584ca4 !important;
}

.btn-bordered.btn-pink {
    border-bottom: 2px solid #ed417b !important;
}

.btn-bordered.btn-orange {
    border-bottom: 2px solid #db8300 !important;
}

.btn-bordered.btn-brown {
    border-bottom: 2px solid #785e54 !important;
}

.btn-bordered.btn-teal {
    border-bottom: 2px solid #1f897f !important;
}

.btn-rounded {
    border-radius: 2em;
    padding: 6px 18px;
}

/* Social Buttons */
.btn-facebook {
    color: #ffffff !important;
    background-color: #3b5998 !important;
}

.btn-twitter {
    color: #ffffff !important;
    background-color: #00aced !important;
}

.btn-linkedin {
    color: #ffffff !important;
    background-color: #007bb6 !important;
}

.btn-dribbble {
    color: #ffffff !important;
    background-color: #ea4c89 !important;
}

.btn-googleplus {
    color: #ffffff !important;
    background-color: #dd4b39 !important;
}

.btn-instagram {
    color: #ffffff !important;
    background-color: #517fa4 !important;
}

.btn-pinterest {
    color: #ffffff !important;
    background-color: #cb2027 !important;
}

.btn-dropbox {
    color: #ffffff !important;
    background-color: #007ee5 !important;
}

.btn-flickr {
    color: #ffffff !important;
    background-color: #ff0084 !important;
}

.btn-tumblr {
    color: #ffffff !important;
    background-color: #32506d !important;
}

.btn-skype {
    color: #ffffff !important;
    background-color: #00aff0 !important;
}

.btn-youtube {
    color: #ffffff !important;
    background-color: #bb0000 !important;
}

.btn-github {
    color: #ffffff !important;
    background-color: #171515 !important;
}

/* Radios */
.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
    font-family: roboto;
    font-weight: normal;
}

.radio label::before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #dadada;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    margin-left: -20px;
    outline: none !important;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 17px;
}

.radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #797979;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 11px;
    left: 3px;
    margin-left: -20px;
    position: absolute;
    top: 3px;
    transform: scale(0, 0);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 11px;
}

.radio input[type="radio"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
}

.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}

.radio input[type="radio"]:focus + label::before {
    outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio.radio-single label {
    height: 17px;
}

.radio-custom input[type="radio"] + label::after {
    background-color: #00acc1;
}

.radio-custom input[type="radio"]:checked + label::before {
    border-color: #00acc1;
}

.radio-custom input[type="radio"]:checked + label::after {
    background-color: #00acc1;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #188ae2;
}

.radio-primary input[type="radio"]:checked + label::before {
    border-color: #188ae2;
}

.radio-primary input[type="radio"]:checked + label::after {
    background-color: #188ae2;
}

.radio-danger input[type="radio"] + label::after {
    background-color: #f5707a;
}

.radio-danger input[type="radio"]:checked + label::before {
    border-color: #f5707a;
}

.radio-danger input[type="radio"]:checked + label::after {
    background-color: #f5707a;
}

.radio-info input[type="radio"] + label::after {
    background-color: #3ac9d6;
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #3ac9d6;
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #3ac9d6;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f9c851;
}

.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f9c851;
}

.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f9c851;
}

.radio-success input[type="radio"] + label::after {
    background-color: #4bd396;
}

.radio-success input[type="radio"]:checked + label::before {
    border-color: #4bd396;
}

.radio-success input[type="radio"]:checked + label::after {
    background-color: #4bd396;
}

.radio-purple input[type="radio"] + label::after {
    background-color: #6b5fb5;
}

.radio-purple input[type="radio"]:checked + label::before {
    border-color: #6b5fb5;
}

.radio-purple input[type="radio"]:checked + label::after {
    background-color: #6b5fb5;
}

.radio-pink input[type="radio"] + label::after {
    background-color: #f06292;
}

.radio-pink input[type="radio"]:checked + label::before {
    border-color: #f06292;
}

.radio-pink input[type="radio"]:checked + label::after {
    background-color: #f06292;
}

/* =============
   Tabs
============= */
.tab-content {
    padding: 20px 0 0 0;
}

.nav-tabs > li > a {
    color: #313a46;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Hind Madurai', sans-serif;
}

.nav-tabs > li > a:hover {
    background-color: rgba(152, 152, 152, 0.1);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    color: #00acc1;
}

/* Vertial tab */
.tabs-vertical-env .tab-content {
    background: #ffffff;
    display: table-cell;
    padding: 0 0 0 20px;
    vertical-align: top;
}

.tabs-vertical-env .nav.tabs-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}

.tabs-vertical-env .nav.tabs-vertical li > a {
    color: #313a46;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-family: 'Hind Madurai', sans-serif;
    text-transform: uppercase;
}

.tabs-vertical-env .nav.tabs-vertical li.active > a {
    background-color: rgba(152, 152, 152, 0.1);
    border: 0;
    color: #00acc1;
}

.tabs-vertical-env-right .tab-content {
    padding: 0 20px 0 0;
}

.tabs-bordered {
    border-bottom: 2px solid rgba(152, 152, 152, 0.2) !important;
}

.tabs-bordered li a,
.tabs-bordered li a:hover,
.tabs-bordered li a:focus {
    border: 0 !important;
    background-color: #ffffff !important;
    padding: 10px 20px !important;
}

.tabs-bordered li.active a,
.tabs-bordered li.active a:hover,
.tabs-bordered li.active a:focus {
    border-bottom: 2px solid #00acc1 !important;
    margin-bottom: -1px;
    color: #00acc1;
}

/* Navpills */
.nav-pills > li > a {
    color: #313a46;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #00acc1;
}

/* =============
   Nestable
============= */
.custom-dd .dd-list .dd-item .dd-handle {
    background: #f3f3f3;
    border: none;
    padding: 8px 16px;
    height: auto;
    font-weight: 600;
    font-family: 'Hind Madurai', sans-serif;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-clip: padding-box;
}

.custom-dd .dd-list .dd-item .dd-handle:hover {
    color: #00acc1;
}

.custom-dd .dd-list .dd-item button {
    height: auto;
    font-size: 17px;
    margin: 8px auto;
    color: #797979;
    width: 30px;
}

.custom-dd-empty .dd-list .dd3-handle {
    border: none;
    background: #f3f3f3;
    height: 36px !important;
    width: 36px !important;
}

.custom-dd-empty .dd-list .dd3-handle:before {
    color: inherit;
    top: 7px;
}

.custom-dd-empty .dd-list .dd3-handle:hover {
    color: #00acc1;
}

.custom-dd-empty .dd-list .dd3-content {
    height: auto;
    border: none;
    padding: 8px 16px 8px 46px;
    background: #f3f3f3;
    font-weight: 600;
    font-family: 'Hind Madurai', sans-serif;
}

.custom-dd-empty .dd-list .dd3-content:hover {
    color: #00acc1;
}

.custom-dd-empty .dd-list button {
    width: 26px;
    height: 26px;
    font-size: 16px;
    font-weight: 600;
}

.dd-dragel > .dd-item .dd-handle {
    padding: 8px 16px !important;
    background: #f3f3f3;
    height: auto;
}

.dd-placeholder,
.dd-empty {
    background: #f3f3f3;
    border: 1px dashed #989898;
}

.dd-dragel > .dd3-item > .dd3-handle {
    border: none;
    background: #f3f3f3;
    height: 36px !important;
    width: 36px !important;
}

.dd-dragel > .dd3-item > .dd3-handle:before {
    color: inherit;
    top: 7px;
}

.dd-dragel > .dd3-item > .dd3-content {
    padding: 8px 16px 8px 46px;
    background: #f3f3f3;
    height: auto;
}
/* =============
   Form
============= */
/* Form components */
label {
    font-weight: 600;
    font-family: 'Hind Madurai', sans-serif;
}

textarea.form-control {
    min-height: 90px;
}

.form-control {
    resize: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(152, 152, 152, 0.8) !important;

    border-radius: 0 !important;
    padding: 7px 12px 7px 0;
    height: 38px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.form-control:focus {
    border-bottom: 1px solid #00acc1;
    box-shadow: 0 1px 0 #00acc1;
    outline: 0 !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ffffff;
}

.input-lg {
    height: 46px;
    padding: 10px 16px 10px 0;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.input-sm {
    height: 30px;
    padding: 5px 10px 5px 0;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}

.form-control-feedback {
    line-height: 38px !important;
}

.input-group-btn .btn {
    padding: 8px 12px;
}

.input-group-btn .btn-sm {
    padding: 5px 10px;
}

.input-group-btn .btn-lg {
    padding: 10px 17px;
}

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label,
.has-success .form-control-feedback {
    color: #4bd396;
}

.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label,
.has-warning .form-control-feedback {
    color: #f9c851;
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label,
.has-error .form-control-feedback {
    color: #f5707a;
}

.has-success .form-control {
    border-color: #4bd396;
    box-shadow: none;
}

.has-success .form-control:focus {
    border-color: #4bd396;
    box-shadow: 0 1px 0 #4bd396;
}

.has-warning .form-control {
    border-color: #f9c851;
    box-shadow: none;
}

.has-warning .form-control:focus {
    border-color: #f9c851;
    box-shadow: 0 1px 0 #f9c851;
}

.has-error .form-control {
    border-color: #f5707a;
    box-shadow: none;
}

.has-error .form-control:focus {
    border-color: #f5707a;
    box-shadow: 0 1px 0 #f5707a;
}

.input-group-addon {
    border-radius: 0;
    border: 0;
    font-size: 18px;
    background-color: transparent;
}

.input-group .form-control {
    padding-left: 12px;
}

/* == Form Advanced */
/* Bootstrap tagsinput */
.bootstrap-tagsinput {
    box-shadow: none;
    padding: 5px 7px 5px 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(152, 152, 152, 0.8);
    width: 100%;
}

.bootstrap-tagsinput .label-info {
    background-color: #00acc1 !important;
    display: inline-block;
    padding: 5px;
    margin: 3px 1px;
}

/* Multiple select */
.search-input {
    margin-bottom: 10px;
}

.ms-container {
    background: transparent url('../plugins/multiselect/img/multiple-arrow.png') no-repeat 50% 50%;
    width: 100% !important;
    max-width: 360px !important;
}

.ms-container .ms-list {
    box-shadow: none;
    border: 1px solid rgba(49, 58, 70, 0.2);
}

.ms-container .ms-list.ms-focus {
    box-shadow: none;
    border: 1px solid rgba(49, 58, 70, 0.4);
}

.ms-container .ms-selectable {
    box-shadow: none;
    outline: none !important;
}

.ms-container .ms-selectable li.ms-elem-selectable {
    border: none;
    padding: 5px 10px;
}

.ms-container .ms-selectable li.ms-hover {
    background-color: #00acc1;
}

.ms-container .ms-selection li.ms-elem-selection {
    border: none;
    padding: 5px 10px;
}

.ms-container .ms-selection li.ms-hover {
    background-color: #00acc1;
}

/* Select 2 */
.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(152, 152, 152, 0.8);
    height: 38px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
    padding-left: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px;
}

.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #999 transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #999 transparent !important;
    border-width: 0 6px 6px 6px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00acc1;
}

.select2-results__option {
    padding: 6px 12px;
}

.select2-dropdown {
    border: 1px solid #e3e3e3 !important;
    padding-top: 5px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.select2-search input {
    border: 1px solid #e3e3e3 !important;
}

.select2-container .select2-selection--multiple {
    min-height: 38px !important;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(152, 152, 152, 0.8);
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding: 2px 10px 2px 0;
}

.select2-container .select2-selection--multiple .select2-search__field {
    margin-top: 7px;
    border: 0 !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 1px;
    padding: 0 7px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 0;
    border-bottom: 1px solid #00acc1;
    box-shadow: 0 1px 0 #00acc1;
}

/* AUTOCOMPLETE */
.autocomplete-suggestions {
    border: 1px solid #f9f9f9;
    background: #ffffff;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: rgba(152, 152, 152, 0.3);
    cursor: pointer;
}

.autocomplete-suggestions strong {
    font-weight: bold;
    color: #313a46;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    font-weight: bold;
    font-size: 16px;
    color: #313a46;
    display: block;
}

/* Bootstrap-select */
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select .glyphicon {
    padding-right: 6px;
}

/* Bootstrap filestyle */
.icon-span-filestyle {
    padding-right: 5px;
}

/* Bootstrap-touchSpin */
.bootstrap-touchspin .input-group-btn-vertical .btn {
    padding: 9px 12px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
    top: 4px;
    left: 8px;
}

/* Form validation */
.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}

.parsley-errors-list.filled {
    display: block;
}

.parsley-errors-list > li {
    font-size: 12px;
    list-style: none;
    color: #f5707a;
    margin-top: 5px;
}

.bootstrap-timepicker-widget table td input {
    border: 1px solid rgba(49, 58, 70, 0.3);
    width: 35px;
}

.datepicker-dropdown {
    padding: 10px !important;
}

.datepicker td,
.datepicker th {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.datepicker-switch,
.datepicker-days .clear {
    border-radius: 3px !important;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background-color: #00acc1 !important;
    color: #ffffff !important;
    background-image: none !important;
    text-shadow: none !important;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #4bd396 !important;
    color: #ffffff !important;
    background-image: none !important;
}

.datepicker-inline {
    border: 2px solid rgba(49, 58, 70, 0.1);
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #00acc1;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
    border-radius: 50% !important;
}

.daterangepicker .input-mini.active {
    border: 1px solid rgba(49, 58, 70, 0.3);
}

.daterangepicker .input-mini {
    border: 0 !important;
    border-bottom: 1px solid rgba(152, 152, 152, 0.8) !important;
    border-radius: 0 !important;
}

.daterangepicker .ranges li {
    border-radius: 2px;
    color: #313a46;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Hind Madurai', sans-serif;
}

.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect,
.daterangepicker select.ampmselect {
    border: 1px solid rgba(49, 58, 70, 0.3);
    padding: 2px;
    width: 60px;
}

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background-color: #00acc1;
    border: 1px solid #00acc1;
    color: #ffffff;
}

/* Wizard */
.wizard > .content {
    background: #ffffff;
    min-height: 240px;
    padding: 20px !important;
    border: 1px solid #f3f3f3;
    margin-top: 10px !important;
}

.wizard > .content > .body {
    padding: 0px;
    position: relative;
    width: 100%;
}

.wizard > .content > .body input {
    border: 0;
    border-bottom: 1px solid rgba(152, 152, 152, 0.8);
}

.wizard > .content > .body input:focus {
    border-bottom: 1px solid #00acc1;
}

.wizard > .content > .body ul > li {
    display: block;
    line-height: 30px;
}

.wizard > .content > .body label.error {
    color: #f5707a;
    margin-left: 0;
    margin-top: 5px;
    font-size: 12px;
}

.wizard > .content > .body label {
    display: inline-block;
    margin-top: 10px;
}

.wizard > .content > .body input.error {
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid #f5707a;
    box-shadow: 0 1px 0 #f5707a;
    color: #8a1f11;
}

.wizard > .steps a {
    font-size: 16px;
    text-align: center;
    font-family: 'Hind Madurai', sans-serif;
}

.wizard > .steps .number {
    font-size: 86px;
    line-height: 86px;
    font-family: 'Hind Madurai', sans-serif;
    position: absolute;
    left: 10px;
    top: -14px;
    opacity: 0.1;
}

.wizard > .steps .disabled a {
    background: #f3f3f3;
    color: #3c4655 !important;
    cursor: default;
    border: 1px solid #e6e6e6;
}

.wizard > .steps .disabled a:hover {
    background: #e6e6e6;
    border: 1px solid #dadada;
}

.wizard > .steps .disabled a:active {
    background: #e6e6e6;
    border: 1px solid #dadada;
}

.wizard > .steps .current a {
    background: #00acc1;
}

.wizard > .steps .current a:hover {
    background: #00acc1;
}

.wizard > .steps .current a:hover .number {
    color: #ffffff;
    opacity: 0.4;
}

.wizard > .steps .current a:active {
    background: #00acc1;
}

.wizard > .steps .current a:active .number {
    color: #ffffff;
    opacity: 0.4;
}

.wizard > .steps .current a .number {
    color: #ffffff;
    opacity: 0.4;
}

.wizard > .steps .done a {
    background: #f3f3f3 !important;
    color: #3c4655 !important;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active,
.wizard > .content {
    border-radius: 2px;
    position: relative;
}

.wizard > .actions {
    margin-top: 15px !important;
}

.wizard > .actions a {
    background: #00acc1;
    border-radius: 2px !important;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.wizard > .actions a:hover {
    background: #0095a8;
    color: #ffffff;
}

.wizard > .actions a:active {
    background: #0095a8;
    color: #ffffff;
}

.wizard > .actions .disabled a {
    background: #ffffff;
    color: #313a46;
    cursor: default;
}

.wizard > .actions .disabled a:hover {
    color: #313a46;
    cursor: default;
}

.wizard > .actions .disabled a:active {
    color: #313a46;
    cursor: default;
}

.wizard.vertical > .content {
    margin-top: 0px !important;
}

@media (max-width: 560px) {
    .wizard.vertical > .steps,
    .wizard.vertical > .content {
        width: 100%;
    }
}
